h1 {
    text-align: center;
    font-size: 60px
}

h3::after{
    display: block;
    content: '';
    margin-top: 1px;
    border-bottom: 1px solid #000;
}
ul li { 
    padding: 0px 0px; 
    margin-top: 1px;
}

p {
    margin-top: 1px;
    margin-bottom: 17px;
}

div.info {
    text-align: center !important
}

div.skill {
    column-count: 3
}


div.edu_years {
    width: 20%
}

div.edu_uni, .column {
    width: 40%
}

div.edu_award, .column {
    width: 40%
}